.main {
  &-wrapper {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    display: flex;
    align-content: center;
    border-radius: 20px;

    &__card01 {
      width: 50%;

      &__bill {
        &-label {
          color: #6f797b;
        }

        &-input {
          position: relative;
          margin-top: 10px;
          margin-bottom: 30px;

          &-number {
            width: 80%;
            text-align: end;
            padding: 1px 2px 1px 22px;
            font-size: 1.4rem;
            border: 2px solid #f3f8fb;
            background: #f3f8fb;
            border-radius: 5px;
            outline: none;
            color: #00474b;
            font-family: "Space Mono", monospace;
            transition: all ease 0.3s;

            &:focus {
              border: 2px solid #24c8b0;
              transition: all ease 0.3s;
            }
          }

          & img {
            position: absolute;
            left: 7px;
            top: 11px;
          }
        }
      }
    }

    &__card02 {
      background-color: #00474b;
      width: 50%;
    }
  }
}
